<div class="row">
	<div class="span3">
		<%= render "notebooks" %>
	</div>
	<div class="span9">
		<h3>New Notebook</h3>
		<%= simple_form_for @notebook do |f| %>
		  <%= f.input :name, :label => "Untitled notebook" %>
		  <%= f.input :description, :label => "Notebook Contents" %>
		  <%= f.button :submit, :class => "btn btn-large btn-info" %>
		<% end %>
	</div>
</div>