<div class="row">
  <div class="span3">
    <% @notebooks.each do |notebook| %>
      <p><%= link_to notebook.name, notebook %></p>
    <% end %> 
  </div>

  <div class="span9">
    <%= simple_form_for notebook_path(@note) do |f| %>
      <%= f.input :title, :label => "Note Title" %>
      <%= f.input :body, :label => "Note Context" %>
      <%= f.input :public, label: "Publish to Blog", :as => :boolean %>
      <%= f.button :submit, :value => "Submit", :class => "btn btn-large btn-info" %>
    <% end %>
  </div>
</div>
